h1 {
    color:lightsteelblue;
    font-style: Arial Rounded MT Bold ;

}

.header{
    background-color: palevioletred;
    text-shadow: darksalmon;
    display:flex;
    justify-content: space-between;
}

.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

h2,p{
    color:purple;
    font-style: initial;
    text-align: center;
}

.he3{
    color:darkorchid;
}

.hea3{
    color: magenta;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

.aboutMe{
display:flex;
flex-direction: row;
align-items: stretch;
}
.desc{
    color:mediumorchid;
    font-style: oblique;
}

.myFamily{
display: flex;
flex-flow: row;
}
.fam{
color: palevioletred;
font-style: unset;
}

.myImg{
border: mediumpurple;
border-style: solid;
}

.img{
    border: orchid;
}

body{
    background-color:powderblue;
}